@{
    ViewData["Title"] = "联系人";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    黄河路73号<br />
    哈尔滨工业大学二校区
</address>

<address>
    <strong>技术支持</strong> <a href="mailto:lbwanghr@163.com">Support@example.com</a><br />
    <strong>客服热线</strong> 15754603385
</address>