@model HITWashing.Models.DBClass.PaybackModel

@{
    ViewData["Title"] = "填写还订单";
    ViewData["SubTitle"] = "物品对应表如下";
}

<div class="jumbotron" style="background-color:khaki">
    <h2 style="color:white">@ViewBag.Title</h2>
    <p style="color:white" class="lead">
        @ViewBag.SubTitle
    </p>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemNum_1" class="control-label"></label>
                <input asp-for="ItemNum_1" class="form-control" value="0" />
                <span asp-validation-for="ItemNum_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemNum_2" class="control-label"></label>
                <input asp-for="ItemNum_2" class="form-control" value="0" />
                <span asp-validation-for="ItemNum_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemNum_3" class="control-label"></label>
                <input asp-for="ItemNum_3" class="form-control" value="0" />
                <span asp-validation-for="ItemNum_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
