@model BSXWashing.Models.DBClass.AccountModel

@{
    ViewData["Title"] = Model.AccountName;
    ViewData["SubTitle"] = Model.Address + "-" + Model.StoreName + "-" + Model.MobileNumber;
}

<div class="jumbotron" style="background-color:sandybrown">
    <h2 style="color:white">@ViewData["Title"]</h2>
    <h5>
        <span class="label label-default">@ViewData["SubTitle"]</span>
        <span class="label label-danger">余额：@Model.Balance 元</span>
    </h5>
</div>
