@model BSXWashing.Models.ViewModel.PasswordChangeViewModel

@{
    ViewData["Title"] = "修改密码";
    ViewData["SubTitle"] = "修改密码";
}

<div class="jumbotron" style="background-color:lightseagreen">
    <h2 style="color:white">@ViewData["Title"]</h2>
    <h4>
        <span class="label label-warning">@ViewData["SubTitle"]</span>
    </h4>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="PasswordChange">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="提交修改" class="btn btn-block btn-primary" />
            </div>
        </form>
    </div>
</div>