@using System.Security.Claims;
@{
    ViewData["Title"] = "首页";

    var c = User.FindFirst(ClaimTypes.Sid);
    var t = User.FindFirst(ClaimTypes.Role);
    var userName = c == null ? "" : c.Value;
    var userType = t == null ? "" : t.Value;
}

<div class="jumbotron" style="background-color:lightskyblue">
    <h1 style="color:white">备品洗涤一条龙</h1>
    <p style="color:white" class="lead">哈尔滨市博鑫顺清洁服务公司</p>
</div>

<div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    @if (userType == "")
    {
        <strong>尚未登录：</strong><span>请点击登录按钮进行登录</span>
    }
    else
    {
        <strong>欢迎：</strong><span>你的登录身份是 @userType.</span>
    }
</div>

<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="thumbnail">
            <img src="~/images/t1.png" alt="...">
            <div class="caption">
                <h3>床单、枕巾、被套</h3>
                <p>在线送洗，专人配送，安全优质，服务到家。</p>
                <p>@Html.ActionLink("前往个人中心", "Details", "AccountModels", routeValues: new { id = userName }, htmlAttributes: new { @class = "btn btn-success btn-block" })</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="thumbnail">
            <img src="~/images/t2.png" alt="...">
            <div class="caption">
                <h3>在线信息管理</h3>
                <p>对个人余额、库存、订单记录进行实时管理。</p>
                <p>@Html.ActionLink("查看使用帮助", "About", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-block" })</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="thumbnail">
            <img src="~/images/t3.png" alt="...">
            <div class="caption">
                <h3>客服及时反馈</h3>
                <p>通过在线APP及时与客服人员交流问题、研究问题和解决问题。</p>
                <p>@Html.ActionLink("查看联系人", "Contact", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-warning btn-block" })</p>
            </div>
        </div>
    </div>
</div>
