@model HITWashing.Models.DBClass.BorrowModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>BorrowModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BorrowOrderID" />
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemNum_1" class="control-label"></label>
                <input asp-for="ItemNum_1" class="form-control" />
                <span asp-validation-for="ItemNum_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemNum_2" class="control-label"></label>
                <input asp-for="ItemNum_2" class="form-control" />
                <span asp-validation-for="ItemNum_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemNum_3" class="control-label"></label>
                <input asp-for="ItemNum_3" class="form-control" />
                <span asp-validation-for="ItemNum_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountName" class="control-label"></label>
                <select asp-for="AccountName" class="form-control" asp-items="ViewBag.AccountName"></select>
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsCanceled" /> @Html.DisplayNameFor(model => model.IsCanceled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsCompleted" /> @Html.DisplayNameFor(model => model.IsCompleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
